<div *ngIf="recipe">
  <div class="max-w-[75%] mx-auto p-6 bg-white space-y-6">

    <!-- Recipe Name -->
    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-bold">{{ recipe.name }}</h1>
      <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-full flex items-center gap-2" (click)="editRecipe()">
        Edit Recipe
      </button>
    </div>
  
    <!-- Description -->
    <div>
      <h1  class="text-xl">{{ recipe.description }}</h1>
    </div>
  
    <!-- Image Carousel -->
    <div class="relative w-full h-90 flex justify-center">
      
      <img
        [src]="recipe.images[currentImageIndex]"
        alt="Recipe image"
        class="w-[50%] object-contain rounded-lg"
      />
      <button
        (click)="prevImage()"
        class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"
      >
        ‹
      </button>
      <button
        (click)="nextImage()"
        class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"
      >
        ›
      </button>
    </div>
  
    <!-- Ingredients -->
    <div>
      <h2 class="text-3xl font-bold mb-2">Ingredients</h2>
      <ul class="list-disc list-inside space-y-1">
        <li *ngFor="let ingredient of recipe.ingredients" class="flex gap-1 items-start">
          <span class="text-xl leading-none text-orange-400">•</span>
          <span class="leading-tight">
            {{ ingredient.amount }} {{ ingredient.name }}{{ ingredient.notes ? ', ' + ingredient.notes : '' }}
          </span>
        </li>
      </ul>
    </div>
  
    <!-- Instructions -->
    <div>
      <h2 class="text-3xl font-bold mb-2">Instructions</h2>
      <div class="pt-2">
        <div class="pt-3" *ngFor="let instruction of recipe.instructions; let i = index">
          <h1 class="text-xl font-semibold">Step {{ i + 1 }}</h1>
          <div>{{ instruction }}</div>
        </div>
      </div>
    </div>
  </div>
</div>


